@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import './welcome.css';
@import './login.css';
@import './header.css';
@import './lists.css';
@import './chat.css';
@import './call.css';

:root {
    --bg: #f3f3f3;
    --voice:  #0099BB;
    --red:  #B54C4C;
    --primary: #296483;
    --primary-dark: #18394D;
    --border: 2px solid  #FFAE00;
    --border-white: 1px solid  white;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: var(--bg);
}

a {
    color: var(--primary);
    text-decoration: none;
}
a.button {
    color: white;
    background-color: var(--voice);
    border-radius: 30px;
    padding: 10px 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}
.icon-call {
    background-image: url(../img/phone.svg);
}
.icon-arrows {
    width: 23px;
    vertical-align: text-top;
    background-image: url(../img/arrows.svg);
}

button {
    font-size: 21px;
    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--primary);
    background-color: #F7F7F7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
button.accent {
    color: white;
    background-color: var(--voice);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}
button.deaccent {
    opacity: .7;
}
button.red {
    color: var(--red);
}