@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    background-color: #F3F3F3;
}

button {
    height: 60px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #4D4D4D;
    background-color: #F7F7F7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
button.current {
    color: #000000;
    background-color: #F3F3F3;
    box-shadow: none;
}
button.accent {
    color: white;
    background-color: #479B81;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

/* Header */
header {
    position: sticky;
    top: 20px;
    margin-bottom: 40px;
}
header > button:last-child {
    margin-right: 0;
    float: right;
}
header img {
    width: 20px;
    margin-right: 5px;
}
header > button:last-child img {
    position: relative;
    top: -3px;
}

/* Main */
main {
    display: none;
}
#last {
    display: block;
}



/* List */

/* Item */
section {
    margin-left: 30px;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #cccccc; */
}
.avatar {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #F7F7F7;
    margin-right: 20px;
    border-radius: 40px;
}
.chat-name {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #4D4D4D;
    margin: 10px;
}
.status {
    color:hsl(0, 0%, 60%);
}