@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg: #f3f3f3;
    --voice:  #0099BB;
    --red:  #B54C4C;
    /* background-color: #EAE9E5; */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: var(--bg);
}

a {
    color: #0099BB;
    text-decoration: none;
}
a.button {
    color: white;
    background-color: var(--voice);
    border-radius: 30px;
    padding: 10px 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}
.icon-call {
    background-image: url(../img/phone.svg);
}

button {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--voice);
    background-color: #F7F7F7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

/* Header */

header {
    height: 80px;
    background-color: rgba(41, 100, 131, 0.1);
    margin-bottom: 30px;
}

header a {
    padding: 26px 40px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
header a.current {
    color: black;
    background-color: var(--bg);
}
header a.current .icon-call {
    filter: invert(60%);
}

header a.current.chat {
    position: relative;
    top: -10px;
    text-transform: none;
    font-weight: normal;
    width: 250px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
header > *:last-child {
    float: right;
}
header .avatar {
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    left: -15px;
}


/* Main */

main {
    display: none;
    padding-bottom: 70px;
}

#scrollToTop {
    position: fixed;
    top: -50px;
    left: 39%;
    z-index: 10;
    transition: .3s;
}
#scrollToTop.active {
    top: 30px;
}


/* Last */
#last {
    display: grid;
    grid-template-columns: 48% 52%;
    padding-left: 10px;
}
section {
    position: relative;
}
section > button {
    padding: 10px 15px;
    position: absolute;
    top: -20px;
    left: -15px;
    z-index: 10;
}

/* List */

/* Item */
section {
    margin-left: 30px;
    margin-bottom: 20px;
}
.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    margin-right: 15px;
    border-radius: 40px;
}
div.avatar { 
    text-align: center;
}
div.avatar > span {
    color: #296483;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 18px;
}
.chat-name {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 27px;
}
.status {
    color:hsl(0, 0%, 60%);
}


/* Contacts */
#contacts > span, #call > span {
    margin: 0 40px;
}
#contacts > div, #call > div {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 40px;
}
#contacts section, #call section {
    margin-left: 0;
    margin-bottom: 30px;
}
#contacts section > img, #call section > img {
    float: left;
}
#contacts section > a, #call section > a {
    display: block;
}
#contacts section > span, #call section > span {
    display: inline-block;
    vertical-align: middle;
}

/* Call */
#call > h3 {
    margin: 40px;
}

/* Menu */
#menu, #jobs {
    padding: 0 40px;
}


/* Chat */
.chat-message {
    background-color: #C9C8C6;
    width: 80%;
    padding: 12px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.status.message {
    font-size: 21px;
}

/* messageBoard */
#messageBoard {
    width: 90%;
    height: 100px;
    position: fixed;
    left: 0;
    top: -1000px;
    background-color: white;
    padding: 60px 20px 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    transition: .3s;
    margin-left: 25px;
    /* backdrop-filter: blur(10px); */
}
#messageBoard > div {
    position: relative;
    top: -40px;
    text-align: center;
}
#messageBoard.active {
    top: 0;
}
button.accent {
    color: white;
    background-color: var(--voice);
    /* background-color: #479B81; */
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}
button.accent.red {
    background-color: var(--red);
}

/* Call */
.call {
    padding: 15px;
    height: 50px;
}
.call button {
    margin-right: 0;
}