/* Call */
#mainOptions {
    position: fixed;
    padding: 15px;
    height: 50px;
    background: none;
    transition: .2s;
}
#mainOptions button {
    padding: 10px 15px;
    margin-right: 0;
}
#mainOptions button:first-of-type {
    padding: 2px 15px 10px 5px;
}
img.icon-back {
    position: relative;
    top: 7px;
    width: 30px;
    height: 30px;
}

#moreOptions {
    position: fixed;
    padding: 17px;
    transition: .2s;
}
#moreOptions button {
    margin-right: 5px;
}


.visible {
    top: 0;
}
.unvisible {
    top: -110px;
}


#changer {
    position: fixed;
    top: 20px;
    right: 0;
}

.reverse {
    position: relative;
    top: 2px;
    transform: rotate(180deg);
}

#callStatus {
    position: fixed;
    left: 20px;
    bottom: 60px;
    color: white;
}
#callStatus * {
    margin: 0;
    padding: 5px 10px;
}
#callStatus h3 {
    font-weight: normal;
}
#callStatus p {
    text-transform: uppercase;
    opacity: .7;
}