#chatHeader img.icon.back {
    position: absolute;
    top: 24px;
    left: 10px;
    width: 30px;
    height: 30px;
}
#chatHeader > button {
    margin-top: 15px;
    font-weight: bold;
    float: right;
}
#chatHeader > a:first-child {
    padding: 19px 10px 19px 25px;
}
button.back {
    background: none;
    box-shadow: none;
    color: white;
    font-weight: bold;
    margin-right: 0;
}

header .avatar {
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    left: -15px;
}
.chat-message {
    background-color: #EAE9E5;
    width: 25%;
    padding: 12px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 21px;
}
.status.message {
    color: #555555;
    font-size: 18px;
}


/* messageBoard */
#messageBoard {
    width: 90%;
    height: 100px;
    position: fixed;
    left: 0;
    top: -1000px;
    background-color: white;
    padding: 60px 20px 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    transition: .3s;
    margin-left: 25px;
    color: #555555;
}
#messageBoard > div {
    position: relative;
    top: -40px;
    text-align: center;
}
#messageBoard.active {
    top: 0;
}
#messageBoard button {
    background-color: white;
}
#messageBoard button.blue {
    background-color: #0099BB;
}