/* Chat */
.chat-message {
    background-color: #C9C8C6;
    width: 80%;
    padding: 12px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.status.message {
    font-size: 21px;
}

/* messageBoard */
#messageBoard {
    width: 90%;
    height: 100px;
    position: fixed;
    left: 0;
    top: -1000px;
    background-color: white;
    padding: 60px 20px 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    transition: .3s;
    margin-left: 25px;
    /* backdrop-filter: blur(10px); */
}
#messageBoard > div {
    position: relative;
    top: -40px;
    text-align: center;
}
#messageBoard.active {
    top: 0;
}