/* Header */

header {
    height: 80px;
    background-color: rgba(41, 100, 131, 0.1);
    margin-bottom: 30px;
}

header a {
    padding: 26px 40px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
header a.current {
    color: black;
    background-color: var(--bg);
}
header a.current .icon-call {
    filter: invert(60%);
}

header a.current.chat {
    position: relative;
    top: -10px;
    text-transform: none;
    font-weight: normal;
    width: 250px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
header > *:last-child {
    float: right;
}
header .avatar {
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    left: -15px;
}