/* Header */

header {
    height: 80px;
    background-color: var(--primary-dark);
    margin-bottom: 30px;
}

header a {
    padding: 26px 40px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    color: #eae9e5;
}
header a.current {
    background-color: rgba(0, 0, 0, .25);
}
header a.current .icon-call {
    filter: invert(60%);
}
header a.current.chat {
    position: relative;
    top: -10px;
    text-transform: none;
    font-weight: normal;
    width: 250px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}
header > *:last-child {
    float: right;
}