/* Main */

main {
    display: none;
    padding-bottom: 90px;
}

#scrollToTop {
    position: fixed;
    top: -50px;
    left: 39%;
    z-index: 10;
    transition: .3s;
}
#scrollToTop.active {
    top: 30px;
}


/* List */

/* Item */
section {
    margin-left: 30px;
    margin-bottom: 20px;
}
.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    margin-right: 15px;
    border-radius: 40px;
}
div.avatar { 
    text-align: center;
}
div.avatar > span {
    color: #296483;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 18px;
}
div.avatar.small > span {
    top: 12px;
    font-size: 24px;
}
.chat-name {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 27px;
}
.status {
    color:hsl(0, 0%, 60%);
}


/* Last */
#last {
    display: grid;
    grid-template-columns: 48% 52%;
    padding-left: 10px;
}
section {
    position: relative;
}
section > button {
    padding: 10px 15px;
    position: absolute;
    top: -20px;
    left: -15px;
    z-index: 10;
}

/* Contacts */
#contacts > span, #call > span {
    margin: 0 40px;
}
#contacts > div, #call > div {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 40px;
}
#contacts section, #call section {
    margin-left: 0;
    margin-bottom: 30px;
}
#contacts section > div, #call section > div {
    float: left;
}
#contacts section > a, #call section > a {
    display: block;
}
#contacts section > span, #call section > span {
    display: inline-block;
    vertical-align: middle;
}

/* Call */
#call > h3 {
    margin: 40px;
}

/* Menu */
#menu, #myjobs {
    padding: 0 40px;
}