/* Tabs */
#tabs {
    height: 80px;
    background-color: var(--primary-dark);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
#tabs > button {
    color: #eae9e5;
    font-weight: bold;
    background: none;
    border-radius: 0;
    padding: 0 45px;
    margin-right: 0;
}
#tabs > button.current {
    background: rgba(0, 0, 0, .25);
}

/* Main */

main {
    display: none;
    padding-bottom: 90px;
}

#scrollToTop {
    position: fixed;
    top: -50px;
    left: 39%;
    z-index: 10;
    transition: .3s;
}
#scrollToTop.active {
    top: 30px;
}


/* List */

/* Item */
section {
    margin-left: 30px;
    margin-bottom: 20px;
}
.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    margin-right: 15px;
    border-radius: 40px;
}
div.avatar { 
    text-align: center;
}
div.avatar > span {
    color: #296483;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    position: relative;
    top: 18px;
}
div.avatar.small > span {
    top: 11px;
    font-size: 21px;
}
.chat-name {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 24px;
    background: none;
    box-shadow: none;
    /* position: absolute; */
    top: 10px;
    left: 70px;
    text-transform: none;
}
.status {
    color:hsl(0, 0%, 60%);
}


/* Last */
#last {
    display: grid;
    grid-template-columns: 48% 52%;
    padding-left: 10px;
}
section {
    position: relative;
}
section > button {
    padding: 10px 15px;
    position: absolute;
    top: -20px;
    left: -15px;
    z-index: 10;
}

/* Contacts */
#contacts > span, #call > span {
    margin: 0 40px;
}
#contacts > div, #call > div {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 40px;
}
#contacts section, #call section {
    margin-left: 0;
    margin-bottom: 30px;
}
#contacts section > div, #call section > div {
    float: left;
}
#contacts section > a, #call section > a {
    display: block;
}
#contacts section > span, #call section > span {
    display: inline-block;
    vertical-align: middle;
}

/* Call */
#call {
    position: relative;
    top: -100px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 1px;
    box-shadow: 0px 2px 75px rgba(0, 0, 0, 0.7);
}
#call > h3 {
    margin: 40px;
}

/* Menu */
#menu, #myjobs {
    padding: 0 40px;
}

#menu {
    color: #555555;
}
#userInfo {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    margin-top: 50px;
    margin-bottom: 40px;
}
#userInfo h1 {
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
#userInfo button {
    margin-right: 0;
    
}
.userAvatar {
    width: 120px;
    height: 120px;
}