#splash.login > img {
    margin-top: 40px;
    width: 300px;
}
#splash.login > input {
    display: block;
    margin: 30px auto;
    width: 280px;
    height: 40px;
    background: none;
    border: var(--border-white);
    border-radius: 5px;
    padding-left: 15px;
    color: white;
}
#splash.login > input::placeholder {
    color: white;
    opacity: .7;
}