#splash.login > img {
    margin-top: 40px;
    width: 300px;
}
#splash.login > input {
    display: block;
    margin: 30px auto;
    width: 280px;
    height: 40px;
    background: none;
    border: var(--border-white);
    border-radius: 5px;
    padding-left: 15px;
    color: white;
}
#splash.login > input::placeholder {
    color: white;
    opacity: .7;
}
#splash button.help {
    position: fixed;
    left: 570px;
    width: 100px;
    padding: 5px;
    color: var(--primary);
    background-color: white;
    font-size: 14px;
}
#splash button.help:nth-child(6) {
    top: 118px;
}
#splash button.help:nth-child(7) {
    top: 195px;
}
#splash button.help:nth-child(8) {
    top: 265px;
}