.asset {
    padding: 26px 20px;
}
.step {
    padding: 0 45px;
}
.step h3 {
    color: var(--primary);
    font-weight: normal;
}
.step p {
    color: #555555;
}
.step img.notification {
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}
.step div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.step div > div {
    position: relative;
}
.step button {
    position: absolute;
    top: -10px;
    width: 50px;
    height: 50px;
}
.step .note {
    width: 250px;
}