.asset {
    padding: 22px 20px;
}
.step {
    padding: 0 45px;
}
.step h3 {
    color: var(--primary);
    font-weight: normal;
}
.step p {
    color: #555555;
}
.step img.notification {
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}
.step div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.step div > div {
    position: relative;
}
.step button {
    position: absolute;
    top: -10px;
    width: 50px;
    height: 50px;
}
.step .note {
    width: 250px;
}

dialog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    border: 0;
}
dialog > div {
    color: white;
    margin: 50px auto;
    width: 400px;
    padding: 30px 40px;
    border-radius: 5px;
    background: var(--primary-dark);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}
dialog > div > div {
    padding: 20px;
}
dialog button.red {
    color: white;
    background-color: var(--red);
}