/* Welcome */
#splash {
    height: 100vh;
    color: #ffffff;
    background-color: var(--primary-dark);
    text-align: center;
}
#splash > img {
    width: 380px;
}
#splash > button {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FFAE00;
    color: white;
}
#splash > button:nth-child(3) {
    background: none;
    border: var(--border);
}
#splash > div {
    position: relative;
    bottom: -20px;
}
#splash p {
    font-size: 21px;
    margin: 5px;
}