<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="./js/wearml_engine-min.js"></script>
    <title>Manifest Realwear / Call</title>
    <style>
        #adminFace {
            position: fixed;
            bottom: 20px;
            right: 20px;
            border-radius: 10px;
            width: 300px;
            box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.4);
            transition: .3s;
        }
        #adminFace.extended {
            z-index: 100;
            width: 60%;
            height: 91%;
        }
        #rwView {
            width: 100%;
        }
        #videoSwitcher {
            position: fixed;
            z-index: 112;
            bottom: 10px;
            right: 10px;
        }
        button.active {
            color: white;
            background-color: var(--red);
        }
        #scanner {
            position: fixed;
            z-index: 113;
            top: 10px;
            left: 10px;
            box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.4);
        }
        #outputMessage {
            color: white;
            padding: 15px;
            background-color: var(--primary-dark);
        }
        #outputMessage > button {
            position: relative;
            top: -9px;
            margin: 0;
            float: right;
        }
    </style>
</head>
<body style="background-image: url(./img/videostream.png); background-size: cover;">
    <div id="callStatus">
        <h3>Roberta Fox</h3>
        <p>Calling 0:11</p>
    </div>
    <div id="app">
        <video id="rwView" autoplay></video>
        <video id="adminFace" autoplay></video>
        <div id="scanner" v-if='scanEnabled'>
            <div id="loadingMessage"></div>
            <div id="outputMessage">
                Scan QR-code
                <button class="active" @click="toggleScan">Close scanner</button>
            </div>
            <canvas id="canvas" hidden></canvas>
        </div>
        <div id="mainOptions" :class="mainStyle">
            <button onclick="window.location = './chat.html'">
                <img class="icon icon-back" src="./img/arrow-left-blue.png">
                Back
            </button>
            <button>Take photo</button>
            <button>Video off</button>
            <button class="red" onclick="window.location = './chat.html'">End Call</button>
        </div>
        <div id="moreOptions" :class="moreStyle">
            <button>Record Call</button>
            <button>Mic off</button>
            <button id="scanSwitcher" @click="toggleScan">Share asset info</button>
        </div>
        <button id="changer" onclick="app.changeView()">
            <span v-if="mainView">
                More <span class="icon icon-arrows"></span>
            </span>
            <span v-else>
                <span class="icon icon-arrows reverse"></span> Less
            </span>
        </button>
        <button id="videoSwitcher">switch video</button>
    </div>

    <div id="snackbar"></div>
    <script src="./js/snackbar.js"></script>
    <script src="./js/vuices.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script type="text/javascript" src="./js/jsQR.js"></script>
    <script>

        let conn
        let stateShowDestop = true

        let app = new Vue({
        el: '#app',
        data: {
            mainView: true,
            mainStyle: 'visible',
            moreStyle: 'unvisible',
            scanEnabled: false,
            codeData: ''
        },
        methods: {
            changeView() {
                this.mainView = !this.mainView
                if (this.mainView) {
                    this.mainStyle = 'visible'
                    this.moreStyle = 'unvisible'
                } else {
                    this.mainStyle = 'unvisible'
                    this.moreStyle = 'visible'
                }
            },
            toggleScan() {
                scanSwitcher.classList.toggle('active')
                this.scanEnabled = !this.scanEnabled
                if (this.scanEnabled) {
                    setTimeout(() => {
                        this.enableScan()
                    }, 100);
                }
            },
            enableScan() {

                let video = document.createElement("video");
                let canvasElement = document.getElementById("canvas");
                let canvas = canvasElement.getContext("2d");
                let loadingMessage = document.getElementById("loadingMessage");

                function drawLine(begin, end, color) {
                    canvas.beginPath();
                    canvas.moveTo(begin.x, begin.y);
                    canvas.lineTo(end.x, end.y);
                    canvas.lineWidth = 4;
                    canvas.strokeStyle = color;
                    canvas.stroke();
                }

                let reqId;

                navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
                    video.srcObject = stream;
                    video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                    video.play();
                    requestAnimationFrame(tick);
                });

                function tick() {
                    loadingMessage.innerText = "⌛ Loading video..."
                    if (video.readyState === video.HAVE_ENOUGH_DATA) {
                        loadingMessage.hidden = true;
                        canvasElement.hidden = false;

                        canvasElement.height = video.videoHeight;
                        canvasElement.width = video.videoWidth;
                        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                        let imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        let code = jsQR(imageData.data, imageData.width, imageData.height, {
                        inversionAttempts: "dontInvert",
                        });
                        if (code) {
                            drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                            drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                            drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
                            drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");

                            app.codeData = code.data
                            video.srcObject.getTracks().forEach(track => track.stop())
                            cancelAnimationFrame(reqId)
                            app.toggleScan()
                            conn.send({codeData: app.codeData})
                        }
                    }
                    reqId = requestAnimationFrame(tick);
                }

            }
        }})

        let peer = new Peer(null, {debug: 2});

        navigator.mediaDevices.getUserMedia({'video': {'facingMode': 'environment'}})
        .then(mediaStream => {
            let call = peer.call("awgdasadas", mediaStream);
            rwView.srcObject = mediaStream;
            call.on("stream", remoteStream => adminFace.srcObject = remoteStream);
        });

        setTimeout(() => {conn = peer.connect("awgdasadas", {reliable: true})}, 1000);
        videoSwitcher.addEventListener('click', event => {
            adminFace.classList.toggle('extended')
            conn.send({showDestop: stateShowDestop})
            stateShowDestop = !stateShowDestop
        })


    </script>
</body>
</html>