<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/app.css">
    <script type="text/javascript" src="./js/wearml_engine-min.js"></script>
    <script type="text/javascript" src="./js/jsQR.js"></script>
    <title>Manifest Realwear / List</title>
</head>
<body>

<div id="app" v-cloak>

    <div id="tabs">
        <button class="current">Last</button>
        <button>Contacts</button>
        <button><a class="button"><span class="icon icon-call"></span> Call</a></button>
        <button>Scan QR</button>
        <button>Menu</button>
    </div>

    <main id="last" v-if='section == "last"'>
        <section v-for="(chat, i) in chats">
            <button>{{i+1}}</button>
            <div class="avatar" v-if='chat.single'><span>{{makeDoubleLettersAva(chat.name)}}</span></div>
            <img v-else src="./img/group-chat.png" class="avatar"></img>
            <button class="chat-name" onclick="window.location = './chat.html'">{{chat.name}}</button>
        </section>
    </main>
    <main id="contacts" v-else-if='section == "contacts"'>
        <span class="status">Online (19)</span>
        <span class="status" style="float: right;">Sort ⇳</span>
        <br><br>
        <div>
            <section v-for="(user, i) in users">
                <button>{{i+1}}</button>
                <span v-if='user.online' class="ready online"></span>
                <span v-else class="ready offline"></span>
                <div class="avatar">
                    <img v-if="user.avatar" :src="user.avatar">
                    <span v-else>{{makeDoubleLettersAva(user.name)}}</span>
                </div>
                <button class="chat-name" onclick="window.location = './chat.html'">{{user.name}}</button>
                <span class="occupacy">{{user.job}}</span> 
            </section>
        </div>
    </main>
    <main id="call" v-else-if='section == "call"'>
        <h3>
            Say who to call:
            <button style="float: right; position: relative; top: -20px; left: 30px" onclick="app.section = 'last'">Close</button>
        </h3>
        <span class="status">Online (18)</span>
        <span class="status" style="float: right;">Sort ⇳</span>
        <br><br>
        <div>
            <section v-for="(user, i) in users">
                <button>{{i+1}}</button>
                    <span v-if='user.online' class="ready online"></span>
                    <span v-else class="ready offline"></span>
                <div class="avatar">
                    <img v-if="user.avatar" :src="user.avatar">
                    <span v-else>{{makeDoubleLettersAva(user.name)}}</span>
                </div>
                <button class="chat-name" onclick="window.location = './call.html'">{{user.name}}</button>
                <span class="occupacy">{{user.job}}</span> 
            </section>
        </div>
    </main>
    <main id="scanqr" v-else-if='section == "scanqr"'>
        <div v-show="!scanSuccess">
            <div id="loadingMessage">
                    <img src="./img/target.png">
                    <h3>Scan to get asset info</h3>
                    <button @click="scanSuccess = true">Success</button>
            </div>
            <canvas id="canvas" hidden></canvas>
            <div id="output" hidden>
              <div id="outputMessage">No QR code detected.</div>
              <div hidden><b>Data:</b> <span id="outputData"></span></div>
            </div>

        </div>
        <div v-show='scanSuccess'>
            <nav>
                <button class="link tab" :class="{active: templateList}" @click="changeTab">Templates</button>
                <button class="link tab" :class="{active: !templateList}" @click="changeTab">Asset Info</button>
            </nav>
            <div v-if="templateList" class="tab-content">
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
            </div>
            <div v-else class="tab-content asset-info">
                <div>
                    <img src="./img/device-thumb.png" alt="">
                </div>
                <div>
                    <button class="bolder share" onclick="app.section = 'contacts'"><span class="icon icon-share"></span> Share</button>
                    <p>URL: <span>{{codeData}}</span></p>
                    <p>Asset Tag: <span>EPCO0001</span></p>
                    <p class="inline marged">Make: <span>Kospel</span></p>
                    <p class="inline">Model: <span>EPCO 1.4</span></p>
                    <p>Last Job: <span>Job Name 2 Nov 2020</span></p>
                    <p>Alerts: <span>No meters Alerts for last month</span></p>
                    <p>Manuals:
                        <button>1</button>
                        <button>2</button>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <main id="menu" v-else-if='section == "menu"'>
        <div id="userInfo">
            <div>
                <img class="userAvatar" src="./img/nick.png">
            </div>
            <div>
                <h1>Nick Warren</h1>
                <span>nick.warren@mail.com</span>
            </div>
            <div>
                <button class="big right" onclick="window.location = './index.html'">
                    Log out
                    <img class="icon" src="./img/exit.png">
                </button>
            </div>
        </div>
        <div>
            <p>Manifest Connect ver. 1.0 </p>
            <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</span>
            <p>
                <button onclick="window.location = './models.html'">Models</button>
                <button onclick="window.location = 'https://threejs.org/examples/#webgl_animation_cloth'">Examples</button>
            </p>
        </div>
    </main>

    <button id="scrollToTop" @click="toTop">Scroll To Top</button>
    
</div>

    <script src="./db/last.js"></script>
    <script src="./db/contacts.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
    <script>

        let app = Vue.createApp({
            data() {
                return {
                    chats: last,
                    users: contacts,
                    section: 'last',
                    scanSuccess: false,
                    templateList: true,
                    codeData: 'значение'
                }
            },
            created () {
                document.addEventListener('scroll', this.onScroll)
            },
            mounted () {
                [...tabs.children].forEach(tab => {
                    tab.addEventListener('click', this.setSection)
                })
            },
            unmounted () {
                document.removeEventListener('scroll', this.onScroll)
            },
            watch: {
                section(current, previous) {
                    let previousNode, currentNode
                    [...tabs.children].forEach(tab => {
                        let textId = tab.innerText.trim().toLowerCase().replace(/\s/g, '')
                        if (previous == textId) previousNode = tab
                        if (current == textId) currentNode = tab
                    })
                    previousNode.classList.remove('current')
                    currentNode.classList.add('current')
                    if (current == 'scanqr') {
                        setTimeout(() => {
                            this.enableScan()
                        }, 100);
                    }
                    if (current == 'scanqr' && this.scanSuccess) {
                        this.scanSuccess = false
                        this.templateList = true
                    }
                }
            },
            methods: {
                makeDoubleLettersAva(name) {
                    let words = name.split(' ')
                    let letters = ``
                    for (const word of words) {
                        let letter = word.charAt(0).toUpperCase()
                        letters += letter
                    }
                    return letters
                },
                changeTab() {
                    this.templateList = !this.templateList
                },
                setSection(event) {
                    this.section = event.target.innerText.trim().toLowerCase().replace(/\s/g, '')
                },
                onScroll() {
                    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                        scrollToTop.classList.add('active')
                    } else {
                        scrollToTop.classList.remove('active')
                    }
                },
                toTop() {
                    window.scrollTo(0,0)
                },
                enableScan() {

                    let video = document.createElement("video");
                    let canvasElement = document.getElementById("canvas");
                    let canvas = canvasElement.getContext("2d");
                    let loadingMessage = document.getElementById("loadingMessage");
                    let outputContainer = document.getElementById("output");
                    let outputMessage = document.getElementById("outputMessage");
                    let outputData = document.getElementById("outputData");
                
                    function drawLine(begin, end, color) {
                        canvas.beginPath();
                        canvas.moveTo(begin.x, begin.y);
                        canvas.lineTo(end.x, end.y);
                        canvas.lineWidth = 4;
                        canvas.strokeStyle = color;
                        canvas.stroke();
                    }
                
                    let reqId;

                    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
                        video.srcObject = stream;
                        video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                        video.play();
                        requestAnimationFrame(tick);
                    });

                    function tick() {
                    loadingMessage.innerText = "⌛ Loading video..."
                    if (video.readyState === video.HAVE_ENOUGH_DATA) {
                        loadingMessage.hidden = true;
                        canvasElement.hidden = false;
                        outputContainer.hidden = false;
                
                        canvasElement.height = video.videoHeight;
                        canvasElement.width = video.videoWidth;
                        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                        let imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        let code = jsQR(imageData.data, imageData.width, imageData.height, {
                        inversionAttempts: "dontInvert",
                        });
                        if (code) {
                        drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                        drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                        drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
                        drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
                        outputMessage.hidden = true;
                        outputData.parentElement.hidden = false;
                        outputData.innerText = code.data;
                        app.codeData = code.data;
                        setTimeout(() => {
                                video.srcObject.getTracks().forEach(function(track) {
                                    track.stop();
                                });
                            app.scanSuccess = true
                            cancelAnimationFrame(reqId)
                        }, 1000);
                        } else {
                        outputMessage.hidden = false;
                        outputData.parentElement.hidden = true;
                        }
                    }
                    reqId = requestAnimationFrame(tick);
                    }

                }
            }
        }).mount('#app')


      </script>
</body>
</html>