<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/app.css">
    <script type="text/javascript" src="./js/wearml_engine-min.js"></script> 
    <title>Manifest Realwear / List</title>
</head>
<body>

    <div id="tabs">
        <button class="current" id="backAnchor">Last</button>
        <button id="tabsContacts">Contacts</button>
        <button><a class="button"><span class="icon icon-call"></span> Call</a></button>
        <button>Scan QR</button>
        <button>Menu</button>
    </div>
    
<div id="app" v-cloak>

    <main id="last">
        <section v-for="(chat, i) in chats">
            <button>{{i+1}}</button>
            <template v-if='chat.single'>
                <div class="avatar"><span>{{makeDoubleLettersAva(chat.name)}}</span></div>
            </template>
            <template v-else>
                <img src="./img/group-chat.png" class="avatar"></img>
            </template>
            <button class="chat-name" onclick="window.location = './chat.html'">{{chat.name}}</button>
        </section>
    </main>
    <main id="contacts">
        <span class="status">Online (19)</span>
        <span class="status" style="float: right;">Sort ⇳</span>
        <br><br>
        <div>
            <section v-for="(user, i) in users">
                <button>{{i+1}}</button>
                <span v-if='user.online' class="ready online"></span>
                <span v-else class="ready offline"></span>
                <div class="avatar">
                    <img v-if="user.avatar" :src="user.avatar">
                    <span v-else>{{makeDoubleLettersAva(user.name)}}</span>
                </div>
                <button class="chat-name" onclick="window.location = './chat.html'">{{user.name}}</button>
                <span class="occupacy">{{user.job}}</span> 
            </section>
        </div>
    </main>
    <main id="call">
        <h3>
            Say who to call:
            <button style="float: right; position: relative; top: -20px; left: 30px" onclick="hideModal()">Close</button>
        </h3>
        <span class="status">Online (18)</span>
        <span class="status" style="float: right;">Sort ⇳</span>
        <br><br>
        <div>
            <section v-for="(user, i) in users">
                <button>{{i+1}}</button>
                    <span v-if='user.online' class="ready online"></span>
                    <span v-else class="ready offline"></span>
                <div class="avatar">
                    <img v-if="user.avatar" :src="user.avatar">
                    <span v-else>{{makeDoubleLettersAva(user.name)}}</span>
                </div>
                <button class="chat-name" onclick="window.location = './call.html'">{{user.name}}</button>
                <span class="occupacy">{{user.job}}</span> 
            </section>
        </div>
    </main>
    <main id="scanqr">
        <div v-show="!scanSuccess">
            <img src="./img/target.png">
            <h3>Scan to get asset info</h3>
            <button @click="scanSuccess = true">Success</button>
        </div>
        <div v-show='scanSuccess'>
            <nav>
                <button class="link tab" :class="{active: templateList}" @click="changeTab">Templates</button>
                <button class="link tab" :class="{active: !templateList}" @click="changeTab">Asset Info</button>
            </nav>
            <div v-if="templateList" class="tab-content">
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
                <p><button class="link" onclick="window.location = './template.html'">Template name</button></p>
            </div>
            <div v-else class="tab-content asset-info">
                <div>
                    <img src="./img/device-thumb.png" alt="">
                </div>
                <div>
                    <button class="bolder share" onclick="clickOnContacts()"><span class="icon icon-share"></span> Share</button>
                    <p>Asset Tag: <span>EPCO0001</span></p>
                    <p class="inline marged">Make: <span>Kospel</span></p>
                    <p class="inline">Model: <span>EPCO 1.4</span></p>
                    <p>Last Job: <span>Job Name 2 Nov 2020</span></p>
                    <p>Alerts: <span>No meters Alerts for last month</span></p>
                    <p>Manuals:
                        <button>1</button>
                        <button>2</button>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <main id="menu">
        <div id="userInfo">
            <div>
                <img class="userAvatar" src="./img/nick.png">
            </div>
            <div>
                <h1>Nick Warren</h1>
                <span>nick.warren@mail.com</span>
            </div>
            <div>
                <button class="big right" onclick="window.location = './index.html'">
                    Log out
                    <img class="icon" src="./img/exit.png">
                </button>
            </div>
        </div>
        <div>
            <p>Manifest Connect ver. 1.0 </p>
            <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</span>
        </div>
    </main>

</div>

    <button id="scrollToTop">Scroll To Top</button>

    <script src="./js/list.js"></script>
    <script src="./js/last.js"></script>
    <script src="./js/contacts.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
    <script>
        const users = contacts;
        const chats = last;
        let app = Vue.createApp({
          data() {
            return {
                chats,
                users,
                scrollTop: document.documentElement.scrollTop,
                scanSuccess: false,
                templateList: true
            }
          },
          methods: {
            makeDoubleLettersAva(name) {
                let words = name.split(' ')
                let letters = ``
                for (const word of words) {
                    let letter = word.charAt(0).toUpperCase()
                    letters += letter
                }
                return letters
            },
            changeTab() {
                this.templateList = !this.templateList
            }
          }
        }).mount('#app');
    </script>
</body>
</html>